Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Use MapLibre demotiles on title page
  docs/components/quickstart.js
  docs/pages/api/index.md
Due: eslint, prettier --write

Use MapLibre demotiles on title page (#101)
  docs/components/quickstart.js
  docs/pages/api/index.md
Due: eslint, prettier --write

Update jest snapshots with `npm test -- -u`
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Update to MapLibre GL JS after Typescript migration (#89)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  package.json
Due: prettier --write

Bump style spec to v15
  package.json
Due: prettier --write

Run `npm install` to update lock file
  package-lock.json
Due: prettier --write

Remove mapbox reference (#91)
  README.md
Due: none

Use transpiled style-spec files from GL JS rollup folder
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .nvmrc
  README.md
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Fix indent
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

Get style spec version from package.json
  docs/components/page-shell.js
Due: eslint, prettier --write

Fix version import
  docs/components/page-shell.js
Due: eslint, prettier --write

Bump style spec to v15 (#106)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .nvmrc
  README.md
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Bump GL JS submodule to v2.0.1 and include `addProtocol`
  docs/documentation.yml
Due: none

Bump GL JS submodule to v2.0.1 and include `addProtocol` (#110)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
Due: none

Bump GL JS to v2.0.5
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .nvmrc
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
  package.json
Due: prettier --write

Use `npm ci` to install GL JS dependencies
  package.json
Due: prettier --write

Remove engine version and migrate package-lock.json to v2
  package-lock.json
  package.json
Due: prettier --write

Bump GL JS to v2.1.0 (#112)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .nvmrc
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
  package-lock.json
  package.json
Due: prettier --write

Fix node version in readme
  README.md
Due: none

Fix node version in readme (#116)
  README.md
Due: none

Re-activate GL JS update workflow
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
