Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add example for local GeoJSON file (#70)
  .eslintrc
  docs/img/src/local-geojson.png
  docs/pages/example/local-geojson.html
  docs/pages/example/local-geojson.md
  package.json
Due: prettier --write

Make difference to File API more clear
  .eslintrc
  docs/pages/example/local-geojson-experimental.html
  docs/pages/example/local-geojson-experimental.md
  docs/pages/example/local-geojson.md
Due: prettier --write

Add non-experimental example for local GeoJSON
  docs/pages/example/local-geojson.html
  docs/pages/example/local-geojson.md
Due: prettier --write

Add filter for upload
  docs/pages/example/local-geojson.html
Due: prettier --write

Remove c+p comment
  docs/pages/example/local-geojson.html
Due: prettier --write

Replace .eslintrc hotfix
  .eslintrc
  docs/pages/example/.eslintrc
  package.json
Due: prettier --write

Slightly less error-prone capabilities check
  docs/pages/example/local-geojson-experimental.html
Due: prettier --write

Add OSGEO logo
  docs/pages/assets/logo-osgeo.png
Due: none

Add OSGEO logo for later use in examples
  docs/pages/assets/osgeo-logo.png
Due: none

Replace mapbox office by foss4g conferences
  docs/pages/example/geojson-markers.html
Due: prettier --write

Change to positron style
  docs/img/src/geojson-markers.png
  docs/pages/example/geojson-markers.html
Due: prettier --write

Number of points
  docs/pages/example/geojson-markers.html
Due: prettier --write

Replace Mapbox pin by MapLibre pin of same size
  docs/pages/assets/custom_marker.png
Due: none

Fill hole in custom marker
  docs/pages/assets/custom_marker.png
Due: none

Replace all thumbnails with MapBox pin
  docs/img/src/center-on-symbol.png
  docs/img/src/popup-on-click.png
  docs/img/src/popup-on-hover.png
Due: none

Fix brand name
  docs/pages/example/index.md
Due: none

Remove mapbox offices (#79)
  docs/img/src/geojson-markers.png
  docs/pages/assets/logo-osgeo.png
  docs/pages/example/geojson-markers.html
Due: prettier --write

Very minor text changes
  docs/data/plugins.json
Due: prettier --write

Add Esri-service plugins (#73)
  docs/data/plugins.json
Due: prettier --write

Interface compatibility
  vendor/docs-page-shell/page-shell-script.js
Due: eslint, prettier --write

Not needed, because disabled everywhere
  docs/components/feedback.js
Due: eslint, prettier --write

Remove hard-coded version reference
  docs/components/example.js
Due: eslint, prettier --write

Revert order of attributes
  docs/pages/example/locate-user.md
Due: none

Remove comment to avoid uneccessary changes
  docs/pages/example/locate-user.md
Due: none

Fix asset URLs
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/style-spec/sources.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
