Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Remove unused import
  docs/pages/style-spec/expressions.md
Due: none

Migrate style-spec related markdown files (#49)
  docs/components/sdk_support_table.js
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

Use demotiles for simple-map.html example
  docs/pages/example/simple-map.html
Due: prettier --write

Use demotiles for simple-map.html example (#50)
  docs/pages/example/simple-map.html
Due: prettier --write

batfish only run after deleting this
  docs/pages/dist
Due: none

plugin maplibre compare
  docs/data/plugins.json
Due: prettier --write

symlink to local copy
  README.md
Due: none

readme gnu make and build essential
  README.md
Due: none

typo
  README.md
Due: none

order
  README.md
Due: none

Update Mapillary tile layer endpoint
  docs/pages/example/third-party.html
Due: prettier --write

plugin maplibre compare (#54)
  docs/data/plugins.json
Due: prettier --write

Update Mapillary tile layer endpoint (#57)
  docs/pages/example/third-party.html
Due: prettier --write

firsts try
  docs/pages/demotiles
  docs/pages/example/custom-map.html
  docs/pages/example/custom-map.md
Due: prettier --write

example custom tile source working
  docs/pages/example/custom-map.html
  docs/pages/example/custom-map.md
Due: prettier --write

wip
  docs/components/example.js
Due: eslint, prettier --write

remove mapbox-gl-instrumentile
  docs/components/example.js
Due: eslint, prettier --write

remove mbxMeta
  docs/components/api/search.js
  docs/components/page-shell.js
Due: eslint, prettier --write

no arrow function
  docs/pages/example/custom-map.html
Due: prettier --write

strict comparation
  docs/pages/example/custom-map.html
Due: prettier --write

change product because of error message in build tests on git
  docs/pages/example/custom-map.md
Due: none

do not use node package for creating remark config, so we can exclude check for product
  .remarkrc.js
  package.json
Due: eslint, prettier --write

Update sidebar tests
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Remove mbxMeta (#60)
  docs/components/api/search.js
  docs/components/page-shell.js
Due: eslint, prettier --write

do not use node package for creating remark config, so we can exclude check for product (#61)
  .remarkrc.js
  package.json
Due: eslint, prettier --write

Update submodule to maplibre-gl-js v1.15.0 (#62)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

changed product
  docs/pages/example/custom-map.md
Due: none

image
  docs/img/src/custom-map.png
Due: none

Update build-test-deploy.yml
  .github/workflows/build-test-deploy.yml
Due: none

Add update workflow
  .github/workflows/update-gl-js.yml
Due: none

checkout main
  .github/workflows/update-gl-js.yml
Due: none

submodule init
  .github/workflows/update-gl-js.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
