Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add a minimal default marker example (#220)
  docs/img/src/add-a-marker.png
  docs/pages/example/.eslintrc
  docs/pages/example/add-a-marker.html
  docs/pages/example/add-a-marker.js
Due: eslint, prettier --write

Center the map on drone location in live-geojson (#226)
  docs/pages/example/live-geojson.html
Due: prettier --write

add flowmap.blue plugin (#231)
  docs/data/plugins.json
Due: prettier --write

Reframe browser support example (#285)
  docs/pages/example/check-for-support.js
Due: eslint, prettier --write

Update gl-js to version v1.10.0 (#289)
  docs/documentation.yml
Due: none

Update latest-version.test error message (#286)
  test/latest-version.test.js
Due: eslint, prettier --write

Update docs-page-shell (#281)
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Add missing token comment if user is logged out (#296)
  docs/components/example_code.js
Due: eslint, prettier --write

[docsprint] Add an example for AnimationOptions (#278)
  docs/img/src/camera-animation.png
  docs/pages/example/camera-animation.html
  docs/pages/example/camera-animation.js
Due: eslint, prettier --write

add hyperlink to variable-label-placement in docs (#292)
  docs/pages/example/variable-label-placement.js
Due: eslint, prettier --write

Add expressions metadata for distance, slice, index-of (#310)
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Add test to assert that every type exists in the style-spec (#311)
  .travis.yml
  babel.config.json
  conf/eslint-config-base.json
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/data/types.js
  package.json
  yarn.lock
Due: eslint, prettier --write

Update game-controls.js description (#317)
  docs/pages/example/game-controls.js
Due: eslint, prettier --write

Update gl-js to version v1.10.1 (#321)
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Use @mapbox/mapbox-gl-style-spec package (#323)
  .travis.yml
  batfish.config.js
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package.json
  yarn.lock
Due: eslint, prettier --write

fix input for and id so they match (#325)
  docs/pages/example/setstyle.html
Due: prettier --write

Update page shell
  vendor/docs-page-shell/page-shell-script.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update page shell
  vendor/docs-page-shell/page-shell-script.js
Due: eslint, prettier --write

match sentry/browser version with dr-ui; pass section to Feedback (#343)
  docs/components/api/api-page-items.js
  docs/components/feedback.js
  package.json
  yarn.lock
Due: eslint, prettier --write

Make svg display block in cluster ecxample (#344)
  docs/pages/example/cluster-html.html
Due: prettier --write

Update mapbox-gl-js references to use main branch (#350)
  docs/pages/api/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/transition.md
Due: none

Update toggle worldviews example (#302)
  docs/pages/example/toggle-worldviews.html
  docs/pages/example/toggle-worldviews.js
Due: eslint, prettier --write

add custom marker png to assets folder (#359)
  docs/pages/assets/custom_marker.png
Due: none

Handle and catch errors in Search component during selection (#362)
  docs/components/api/search.js
  docs/util/__tests__/build-api-search.test.js
Due: eslint, prettier --write

Reference tileset ID instead of map ID (#365)
  docs/pages/style-spec/sources.md
Due: none

Update page shell
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update linters (#364)
  .remarkrc
  .remarkrc.js
  conf/ignore-links.json
  package.json
  yarn.lock
Due: eslint, prettier --write

upgrade @mapbox/appropriate-images to 4.0.0 to unlock node 12 support (#354)
  package.json
  yarn.lock
Due: prettier --write

Update fallback-image.js description (#222)
  docs/pages/example/fallback-image.js
Due: eslint, prettier --write

Update examples that use icons from default sprites (#341)
  docs/img/src/center-on-symbol.png
  docs/img/src/geojson-markers.png
  docs/img/src/popup-on-click.png
  docs/img/src/popup-on-hover.png
  docs/pages/example/center-on-symbol.html
  docs/pages/example/geojson-markers.html
  docs/pages/example/popup-on-hover.html
  docs/pages/example/popup-on-hover.js
Due: eslint, prettier --write

Update GL Draw to v1.2.0 (#369)
  docs/pages/example/mapbox-gl-draw.html
Due: prettier --write

Add link to style spec (#381)
  docs/pages/example/3d-extrusion-floorplan.md
Due: none

change 'stylesheet' to 'style URL' (#382)
  docs/pages/example/simple-map.html
Due: prettier --write

Add example that demonstrates how to display a line that crosses 180th meridian (#372)
  docs/img/src/line-across-180th-meridian.png
  docs/pages/example/line-across-180th-meridian.html
  docs/pages/example/line-across-180th-meridian.md
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
