Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

expose TransformStyleFunction instead of StylePatchFunction types
  docs/documentation.yml
Due: none

Update plugins.json
  docs/data/plugins.json
Due: prettier --write

Add maplibregl-mapbox-request-transformer plugin
  docs/data/plugins.json
Due: prettier --write

Add maplibregl-mapbox-request-transformer plugin (#306)
  docs/data/plugins.json
Due: prettier --write

use https://github.com/acalcutt/maplibre-gl-inspect
  docs/data/plugins.json
Due: prettier --write

use https://github.com/acalcutt/maplibre-gl-inspect (#314)
  docs/data/plugins.json
Due: prettier --write

Update plugins.json (#292)
  docs/data/plugins.json
Due: prettier --write

Add script to remove assert in rollup output
  package.json
  remove-assert.js
Due: eslint, prettier --write

Bump submodule to match API docs (#325)
  package.json
  remove-assert.js
Due: eslint, prettier --write

animate-way
  docs/pages/assets/animate-way/path_01.geojson
  docs/pages/assets/animate-way/path_02.geojson
  docs/pages/assets/animate-way/path_03.geojson
  docs/pages/assets/animate-way/style.json
  docs/pages/example/animate-way.html
  docs/pages/example/animate-way.md
Due: prettier --write

Fix comment on animated image example
  docs/pages/example/add-image-animated.html
Due: prettier --write

update plugins.json: sdf-glyph-tool -> font-maker
  docs/data/plugins.json
Due: prettier --write

update plugins.json: sdf-glyph-tool -> font-maker (#344)
  docs/data/plugins.json
Due: prettier --write

Added plugin maplibre-gl-measures
  docs/data/plugins.json
Due: prettier --write

Added plugin maplibre-gl-measures (#350)
  docs/data/plugins.json
Due: prettier --write

replace references to mapboxgl global with maplibregl
  docs/bin/create-image.ts
  docs/pages/api/index.md
  docs/pages/example/.eslintrc
Due: none

revert accidental changes
  docs/pages/api/index.md
Due: none

Bump THREE and use resetState. This bit me *HARD* recently - state.reset only partly resets the renderer.
  docs/pages/example/add-3d-model.html
Due: prettier --write

Fix instruction in README for doc development
  README.md
Due: none

Add example for 3D model on map using babylon.js
  docs/img/src/add-3d-model-babylon.png
  docs/pages/example/add-3d-model-babylon.html
  docs/pages/example/add-3d-model-babylon.md
  docs/pages/example/add-3d-model.md
Due: prettier --write

Rework example for clearer transformations & new thumbnail
  docs/img/src/add-3d-model-babylon.png
  docs/pages/example/add-3d-model-babylon.html
Due: prettier --write

Fix error `BABYLON was used before it was defined`
  docs/pages/example/add-3d-model-babylon.html
Due: prettier --write

Example for 3D model on map using babylon.js (#374)
  README.md
  docs/img/src/add-3d-model-babylon.png
  docs/pages/example/add-3d-model-babylon.html
  docs/pages/example/add-3d-model-babylon.md
  docs/pages/example/add-3d-model.md
Due: prettier --write

Remove some mapbox related stuff
  README.md
  docs/bin/create-image.ts
  docs/components/example.js
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/data/api-navigation.js
  docs/pages/api/index.md
  docs/pages/api/properties.js
  docs/pages/example/3d-buildings.md
  docs/pages/example/animate-point-along-route.html
  docs/pages/example/local-geojson.md
  docs/pages/example/polygon-popup-on-click.html
  docs/pages/example/popup-on-click.html
  docs/pages/example/popup-on-hover.html
  docs/pages/example/satellite-map.md
  docs/pages/example/set-popup.html
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

Update docs/pages/style-spec/sources.md
  docs/pages/style-spec/sources.md
Due: none

Fix comment on animated image example (#336)
  docs/pages/example/add-image-animated.html
Due: prettier --write

Remove some Mapbox related stuff (#375)
  README.md
  docs/bin/create-image.ts
  docs/components/example.js
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/data/api-navigation.js
  docs/pages/api/index.md
  docs/pages/api/properties.js
  docs/pages/example/3d-buildings.md
  docs/pages/example/animate-point-along-route.html
  docs/pages/example/local-geojson.md
  docs/pages/example/polygon-popup-on-click.html
  docs/pages/example/popup-on-click.html
  docs/pages/example/popup-on-hover.html
  docs/pages/example/satellite-map.md
  docs/pages/example/set-popup.html
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
