Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

Update urlencoded svg logos
  vendor/docs-page-shell/page-shell-styles.css
Due: prettier --write

Add favicon files to docs/pages/assets
  docs/pages/assets/favicon/android-chrome-192x192.png
  docs/pages/assets/favicon/android-chrome-512x512.png
  docs/pages/assets/favicon/apple-touch-icon.png
  docs/pages/assets/favicon/browserconfig.xml
  docs/pages/assets/favicon/favicon-16x16.png
  docs/pages/assets/favicon/favicon-32x32.png
  docs/pages/assets/favicon/favicon.ico
  docs/pages/assets/favicon/maplibregl-favicon.svg
  docs/pages/assets/favicon/maplibregl-logo-285eaa.svg
  docs/pages/assets/favicon/maplibregl-logo-ffffff.svg
  docs/pages/assets/favicon/mstile-144x144.png
  docs/pages/assets/favicon/mstile-150x150.png
  docs/pages/assets/favicon/mstile-310x150.png
  docs/pages/assets/favicon/mstile-310x310.png
  docs/pages/assets/favicon/mstile-70x70.png
  docs/pages/assets/favicon/safari-pinned-tab.svg
  docs/pages/assets/favicon/site.webmanifest
Due: none

Update helmet favicon path
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Use unpkg.com to get maplibre-gl.js and maplibre-gl.css
  docs/components/urls.js
Due: eslint, prettier --write

Deploy to gh pages (#4)
  README.md
  _config.yml
  batfish.config.js
  package.json
Due: eslint, prettier --write

Use maplibre in .gitmodules
  .gitmodules
Due: none

Use maplibre-gl-js folder in package.json
  package.json
Due: prettier --write

Use maplibre in page-shell.js
  docs/components/page-shell.js
Due: eslint, prettier --write

Use maplibre submodule in urls.js
  docs/components/urls.js
Due: eslint, prettier --write

Use UNPKG.com and maplibre in urls.js
  docs/components/urls.js
Due: eslint, prettier --write

Increase nodejs memory max_old_space_size from 2048 to 4096
  package.json
Due: prettier --write

Update submodule (#11)
  .gitmodules
  docs/components/page-shell.js
  docs/components/urls.js
  package.json
Due: eslint, prettier --write

Use maplibre in helpers.js
  test/helpers.js
Due: eslint, prettier --write

Use maplibre in latest-version.test.js
  test/latest-version.test.js
Due: eslint, prettier --write

Use maplibre in .eslintignore
  .eslintignore
Due: none

Update jest snapshot with npm test -- -u
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Use maplibre in package.json
  package.json
Due: prettier --write

Add gh-pages to devDependencies in package.json
  package.json
Due: prettier --write

Update depolyment instructions
  README.md
Due: none

Update yarn.lock
  yarn.lock
Due: none

Update logo and favicon (#6)
  docs/pages/assets/favicon/android-chrome-192x192.png
  docs/pages/assets/favicon/android-chrome-512x512.png
  docs/pages/assets/favicon/apple-touch-icon.png
  docs/pages/assets/favicon/browserconfig.xml
  docs/pages/assets/favicon/favicon-16x16.png
  docs/pages/assets/favicon/favicon-32x32.png
  docs/pages/assets/favicon/favicon.ico
  docs/pages/assets/favicon/maplibregl-favicon.svg
  docs/pages/assets/favicon/maplibregl-logo-285eaa.svg
  docs/pages/assets/favicon/maplibregl-logo-ffffff.svg
  docs/pages/assets/favicon/mstile-144x144.png
  docs/pages/assets/favicon/mstile-150x150.png
  docs/pages/assets/favicon/mstile-310x150.png
  docs/pages/assets/favicon/mstile-310x310.png
  docs/pages/assets/favicon/mstile-70x70.png
  docs/pages/assets/favicon/safari-pinned-tab.svg
  docs/pages/assets/favicon/site.webmanifest
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update dr-ui@2.2.0 (#462)
  package.json
  yarn.lock
Due: prettier --write

Upgrade Batfish (#60)
  batfish.config.js
  docs/components/appropriate-image.js
  package.json
  yarn.lock
Due: eslint, prettier --write

Use maplibre in dist symlink
  docs/pages/dist
Due: none

Switch to npm
  .gitignore
  .travis.yml
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Switch to npm (#13)
  .gitignore
  .travis.yml
  README.md
  batfish.config.js
  docs/components/appropriate-image.js
  docs/pages/dist
  package-lock.json
  package.json
  yarn.lock
Due: eslint, prettier --write

Replace mapbox with maplibre
  .eslintignore
  package.json
  test/helpers.js
  test/latest-version.test.js
Due: eslint, prettier --write

Update api-navigation jest snapshot
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Add workflows
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

Continuous integration and deployment (#15)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Add empty file
  hi
Due: none

Replace Mapbox with MapLibre and mapbox with maplibre
  README.md
Due: none

Replace Mapbox with MapLibre and mapbox with maplibre (#17)
  README.md
Due: none
