Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

convert files to .ts
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.ts
  docs/bin/create-image.ts
Due: none

remove commented out part of tsconfig.json
  tsconfig.json
Due: prettier --write

replace puppeteer with playwright
  docs/bin/create-image.ts
  package-lock.json
  package.json
Due: prettier --write

playwright
  docs/bin/create-image.ts
Due: none

Convert tape tests to typescript (#253)
  .eslintrc
  docs/.eslintrc
  docs/bin/.eslintrc
  docs/bin/appropriate-images.js
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.js
  docs/bin/build-image-config.ts
  docs/bin/create-image.ts
  docs/bin/package.json
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier --write

install typescript jest
  babel.config.json
  package-lock.json
  package.json
Due: prettier --write

disable commit lint check
  package.json
Due: prettier --write

point to dist from batfish
  .gitignore
  batfish.config.js
  docs/bin/package.json
  docs/util/__tests__/package.json
  tsconfig.json
Due: eslint, prettier --write

Add section types to augments.ts
  docs/components/api/augments.tsx
  docs/components/api/item-contents.tsx
Due: none

Add types to section class-name
  docs/components/api/class-name.tsx
  docs/components/api/item-contents.tsx
Due: none

Add types to section, examples.tsx
  docs/components/api/examples.tsx
  docs/components/api/item-contents.tsx
Due: none

add types to section, parameters.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/parameters.tsx
Due: none

Add section types, properties.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/properties.tsx
Due: none

add section types to related.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/related.tsx
Due: none

add section types to returns.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/returns.tsx
Due: none

add section types to throws
  docs/components/api/item-contents.tsx
  docs/components/api/throws.tsx
Due: none

add section types to github.tsx
  docs/components/api/api-page-items.tsx
  docs/components/api/github.tsx
Due: none

add section types to section-heading
  docs/components/api/api-page-items.tsx
  docs/components/api/item-member.tsx
  docs/components/api/item.tsx
  docs/components/api/section-heading.tsx
  package.json
Due: prettier --write

convert batfish config to ts
  batfish.config.ts
Due: none

transition batfish config to ts
  batfish.config.ts
  tsconfig.json
Due: prettier --write

lint
  docs/util/api-filter-items.ts
  docs/util/build-api-search.ts
  docs/util/combine-items.ts
  docs/util/linker.ts
  docs/util/list-tabs.ts
  docs/util/search-members.ts
  docs/util/style-spec-redirect.ts
  jest.config.ts
  package.json
Due: prettier --write

lint
  .eslintrc
  .travis.yml
  conf/eslint-config-base.json
  conf/eslint-config-browser.json
  docs/.eslintrc
  docs/bin/.eslintrc
  docs/data/__tests__/.eslintrc
  docs/pages/example/animate-point-along-route.html
  docs/util/__tests__/formatters.test.ts
  package-lock.json
  package.json
  test/.eslintrc
  test/style-spec-redirect.test.ts
Due: prettier --write

remove babel
  babel.config.json
  docs/components/md.tsx
  package-lock.json
  package.json
Due: prettier --write

use batfish-import folder
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write

build images to batfish-input
  .gitignore
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.ts
  docs/components/appropriate-image.tsx
  package.json
Due: prettier --write

generate batfish-input
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.ts
  package.json
Due: prettier --write

ignore entire batfish-input
  .gitignore
Due: none

compile into batfish-input
  package.json
Due: prettier --write

install types/node
  package-lock.json
  package.json
Due: prettier --write

remove conf dir
  conf/ignore-links.json
Due: prettier --write

add method to copy md files over
  batfish.config.ts
  package.json
Due: prettier --write

install-maplibre-gl
  package-lock.json
  package.json
Due: prettier --write

point towards package.json in npm module
  docs/bin/create-image.ts
  docs/components/page-shell.js
  docs/components/urls.js
Due: eslint, prettier --write

remove snapshot
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

generate new snapshot
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Update to 2.3.0
  package-lock.json
  package.json
Due: prettier --write

fix install command
  package.json
Due: prettier --write

Release docs v2.3.0 using maplibre-gl from npm (#257)
  docs/bin/create-image.ts
  docs/components/page-shell.js
  docs/components/urls.js
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  package-lock.json
  package.json
Due: eslint, prettier --write
