Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

Migrate example simple map
  docs/pages/example/simple-map.html
  docs/pages/example/simple-map.md
Due: prettier --write

Remove access token injection
  docs/components/example.js
Due: eslint, prettier --write

Update logo link in top left corner to www.maplibre.org
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update logo link in top left corner to www.maplibre.org (#20)
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Remove access token injection (#19)
  docs/components/example.js
Due: eslint, prettier --write

Allow maplibregl in examples by updating the linter configuration
  docs/pages/example/.eslintrc
Due: none

Add MapLibre to @mapbox/copyeditor config file
  local.dic
Due: none

Allow maplibregl in examples by updating the linter configuration (#21)
  docs/pages/example/.eslintrc
Due: none

Add MapLibre to @mapbox/copyeditor config file (#22)
  local.dic
Due: none

Use Mapbox GL JS as product in .md file to avoid remark error
  docs/pages/example/simple-map.md
Due: none

Migrate example simple map (#18)
  docs/pages/example/simple-map.html
  docs/pages/example/simple-map.md
Due: prettier --write

Migrate example/3d-buildings
  docs/pages/example/3d-buildings.html
  docs/pages/example/3d-buildings.md
Due: prettier --write

Migrate example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.md
Due: prettier --write

Migrate example/add-a-marker
  docs/pages/example/add-a-marker.html
  docs/pages/example/add-a-marker.md
Due: prettier --write

Migrate example/add-image-animated
  docs/pages/example/add-image-animated.html
Due: prettier --write

Use full URLs to avoid remark-lint-mapbox errors
  docs/pages/example/3d-buildings.md
  docs/pages/example/3d-extrusion-floorplan.md
  docs/pages/example/add-a-marker.md
Due: none

Migrate example batch 1 (#23)
  docs/pages/example/3d-buildings.html
  docs/pages/example/3d-buildings.md
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.md
  docs/pages/example/add-a-marker.html
  docs/pages/example/add-a-marker.md
  docs/pages/example/add-image-animated.html
Due: prettier --write

Migrate example/add-image-generated
  docs/pages/example/add-image-generated.html
Due: prettier --write

Migrate example/add-image
  docs/pages/example/add-image.html
  docs/pages/example/add-image.md
Due: prettier --write

Migrate example/add-image-missing-generated
  docs/pages/example/add-image-missing-generated.html
Due: prettier --write

Migrate example/add-image-stretchable
  docs/pages/example/add-image-stretchable.html
Due: prettier --write

Migrate example/animate-a-line
  docs/pages/example/animate-a-line.html
Due: prettier --write

Migrate example/animate-camera-around-point
  docs/pages/example/animate-camera-around-point.html
Due: prettier --write

Migrate example/animate-images
  docs/pages/example/animate-images.html
  docs/pages/example/animate-images.md
Due: prettier --write

Add migration note to README.md and the frontpage
  README.md
  docs/pages/api/index.md
Due: none

Migrate example batch 2 (#24)
  docs/pages/example/add-image-generated.html
  docs/pages/example/add-image-missing-generated.html
  docs/pages/example/add-image-stretchable.html
  docs/pages/example/add-image.html
  docs/pages/example/add-image.md
  docs/pages/example/animate-a-line.html
  docs/pages/example/animate-camera-around-point.html
  docs/pages/example/animate-images.html
  docs/pages/example/animate-images.md
Due: prettier --write

Add migration note to README.md and the frontpage (#25)
  README.md
  docs/pages/api/index.md
Due: none

Migrate example/animate-marker
  docs/pages/example/animate-marker.html
  docs/pages/example/animate-marker.md
Due: prettier --write

Migrate example/animate-point-along-line
  docs/pages/example/animate-point-along-line.html
Due: prettier --write

Migrate example/attribution-position
  docs/pages/example/attribution-position.html
Due: prettier --write

Migrate example/camera-animation
  docs/pages/example/camera-animation.html
  docs/pages/example/camera-animation.md
Due: prettier --write

Migrate example/canvas-source
  docs/pages/example/canvas-source.html
  docs/pages/example/canvas-source.md
Due: prettier --write
