Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Fix examples not displaying and update some dependencies
  batfish.config.js
  docs/components/example.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Fix and improve example image generation
  README.md
  docs/bin/create-image.js
  docs/bin/create-image.ts
Due: eslint, prettier --write

Cleanup
  docs/bin/create-image.js
Due: eslint, prettier --write

Undoing dependency updates
  batfish.config.js
  docs/components/example.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Re-adding layer images
  docs/img/src/layer-background.png
  docs/img/src/layer-circle.png
  docs/img/src/layer-fill-extrusion.png
  docs/img/src/layer-fill.png
  docs/img/src/layer-heatmap.png
  docs/img/src/layer-hillshade.png
  docs/img/src/layer-line.png
  docs/img/src/layer-raster.png
  docs/img/src/layer-symbol.png
Due: none

Re-adding layer images (#399)
  docs/img/src/layer-background.png
  docs/img/src/layer-circle.png
  docs/img/src/layer-fill-extrusion.png
  docs/img/src/layer-fill.png
  docs/img/src/layer-heatmap.png
  docs/img/src/layer-hillshade.png
  docs/img/src/layer-line.png
  docs/img/src/layer-raster.png
  docs/img/src/layer-symbol.png
Due: none

Add --openssl-legacy-provider to mitigate regression
  package.json
Due: prettier --write

Add --openssl-legacy-provider to mitigate regression (#401)
  package.json
Due: prettier --write

update dem info to include Terrarium
  docs/pages/style-spec/sources.md
Due: none

put back url
  docs/pages/style-spec/sources.md
Due: none

point out encoding
  docs/pages/style-spec/sources.md
Due: none

Revert "point out encoding"
  docs/pages/style-spec/sources.md
Due: none

point out encoding (in the right spot)
  docs/pages/style-spec/sources.md
Due: none

update dem info to include Terrarium (#405)
  docs/pages/style-spec/sources.md
Due: none

Bump THREE and use resetState. (#361)
  docs/pages/example/add-3d-model.html
Due: prettier --write

Fix style specification
  .gitmodules
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
  remove-assert.js
Due: eslint, prettier --write

use node module resolution
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
Due: eslint, prettier --write

node 18 fix
  package.json
Due: prettier --write

add submodule
  .gitmodules
Due: none

revert
  .gitmodules
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
  remove-assert.js
Due: eslint, prettier --write

mix submodule/npm
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
  remove-assert.js
Due: eslint, prettier --write

add install submodule
  package.json
Due: prettier --write

update expression-metadata
  docs/components/expression-metadata.js
  package.json
Due: eslint, prettier --write

Remove submodule
  .gitmodules
  docs/components/expression-metadata.js
  package.json
  remove-assert.js
Due: eslint, prettier --write

fix maplibre-gl-js auto updater
  .github/workflows/update-gl-js.yml
  README.md
Due: none

update github workflows
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  README.md
Due: none

fix style-spec version
  docs/components/page-shell.js
Due: eslint, prettier --write

use @maplibre/maplibre-gl-style-spec / remove maplibre-gl-js submodules (#408)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  .gitmodules
  README.md
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
  remove-assert.js
Due: eslint, prettier --write

sudo
  .github/workflows/build-test.yml
Due: none

Use node 18 in workers
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
