Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

update github actions
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Update github actions (#236)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Fix github-pages-deploy-action
  .github/workflows/build-test-deploy.yml
Due: none

Fix github-pages-deploy-action (#238)
  .github/workflows/build-test-deploy.yml
Due: none

improve dependabot config
  .github/dependabot.yml
Due: none

add newline
  .github/dependabot.yml
Due: none

add indentation for interval
  .github/dependabot.yml
Due: none

Bump documentation from 13.2.5 to 14.0.0
  package-lock.json
  package.json
Due: prettier --write

Improve dependabot config (#239)
  .github/dependabot.yml
Due: none

Bump documentation from 13.2.5 to 14.0.0 (#240)
  package-lock.json
  package.json
Due: prettier --write

bump-react-from-16-to-18
  package-lock.json
  package.json
Due: prettier --write

Set node to 16.16, because 16.17 breaks
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

migrate examples.test.js
  test/examples.test.js
Due: eslint, prettier --write

Enable babel for tape tests
  babel.config.json
  package-lock.json
  package.json
  test/helpers.js
  test/plugins.test.js
  test/style-spec-redirect.test.js
Due: eslint, prettier --write

clean-up-package.json
  package.json
Due: prettier --write

migrate js-yaml from v3 to v4
  test/examples.test.js
Due: eslint, prettier --write

Enable babel for tape & convert those tests to esm (#252)
  babel.config.json
  package-lock.json
  package.json
  test/examples.test.js
  test/helpers.js
  test/plugins.test.js
  test/style-spec-redirect.test.js
Due: eslint, prettier --write

Set node to 16.16, because 16.17 breaks (#251)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Convert tape tests to typescript
  .eslintrc
  docs/.eslintrc
  docs/bin/.eslintrc
  docs/bin/appropriate-images.js
  docs/bin/build-image-config.js
  docs/bin/create-image.js
  docs/bin/package.json
  package-lock.json
  package.json
  tsconfig.json
Due: eslint, prettier --write

revert change to install-gl-js-deps
  package.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
