Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

simplify the quickstart code (#395)
  docs/components/quickstart.js
Due: eslint, prettier --write

add link to geocoding api docs (#388)
  docs/pages/example/mapbox-gl-geocoder.md
Due: none

Add instrumentile-gl to get statistics about performance of GL-JS on the docs site (#396)
  docs/components/example.js
Due: eslint, prettier --write

Modify example so it clearly uses a custom style (#397)
  docs/pages/example/custom-style-id.html
  docs/pages/example/custom-style-id.md
Due: prettier --write

bump directions plugin version (#375)
  docs/pages/example/mapbox-gl-directions.html
Due: prettier --write

Check if window.Map is a gl-js map instance before instantiating instrumentile (#408)
  docs/components/example.js
Due: eslint, prettier --write

add links to GeoJSON line example (#404)
  docs/pages/example/geojson-line.md
Due: none

add link to render world copies and adjust using workaround (#406)
  docs/pages/example/render-world-copies.html
  docs/pages/example/render-world-copies.md
Due: prettier --write

lowercase i (#410)
  docs/data/style-spec-navigation.js
Due: eslint, prettier --write

Update page shell
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

add plugins for mapbox-gl-js (#411)
  docs/data/plugins.json
Due: prettier --write

Explain the alert part of this example (#416)
  docs/pages/example/check-for-support.md
Due: none

Change map center and update thumbnail image to match new style (#417)
  docs/img/src/custom-style-id.png
  docs/pages/example/custom-style-id.html
Due: prettier --write

Update dr-ui@1.2.0 and sentry@5.42.2 (#421)
  package.json
  yarn.lock
Due: prettier --write

Clarification/link to docs for WMS example (#405)
  docs/pages/example/wms.html
  docs/pages/example/wms.md
Due: prettier --write

re-order nav items (#422)
  docs/data/style-spec-navigation.js
Due: eslint, prettier --write

Update data join example to use mapbox countries tileset (#428)
  docs/img/src/data-join.png
  docs/pages/example/data-join.html
Due: prettier --write

Clarify light property only relevant with extrusions (#244)
  docs/pages/style-spec/light.md
Due: none

[WIP] Fix timeline animation example and update description (#436)
  docs/pages/example/live-update-feature.html
  docs/pages/example/timeline-animation.html
  docs/pages/example/timeline-animation.md
Due: prettier --write

correct sidbear typos (#437)
  docs/pages/example/offset-vanishing-point-with-padding.html
Due: prettier --write

Add related section to expressions; add example title (#438)
  docs/components/site.css
  docs/components/style-spec/expression-reference.js
  docs/data/__tests__/.eslintrc
  docs/data/__tests__/expressions-related.test.js
  docs/data/expressions-related.json
  package.json
  yarn.lock
Due: eslint, prettier --write

Add explanations and thumbnail images for layers in Style Spec docs (#440)
  docs/components/caption.js
  docs/img/src/layer-background.png
  docs/img/src/layer-circle.png
  docs/img/src/layer-fill-extrusion.png
  docs/img/src/layer-fill.png
  docs/img/src/layer-heatmap.png
  docs/img/src/layer-hillshade.png
  docs/img/src/layer-line.png
  docs/img/src/layer-raster.png
  docs/img/src/layer-symbol.png
  docs/pages/style-spec/layers.md
  local.dic
Due: eslint, prettier --write

Credit the author of the map style and add link to blog post (#443)
  docs/pages/example/custom-style-id.md
Due: none

Fix typo in custom style id example (#444)
  docs/pages/example/custom-style-id.md
Due: none

add link to style glossary entry where there is a sample style doc snippet (#445)
  docs/pages/style-spec/index.md
Due: none

Add RelatedPage for tut on Expressions intro (style spec) (#442)
  docs/pages/style-spec/expressions.md
Due: none

Add more 'related' links for 4 expressions (#441)
  docs/data/expressions-related.json
Due: prettier --write

[Info arch] Update to dr-ui 2.0.0 (#446)
  batfish.config.js
  docs/components/api/api-page-items.js
  docs/components/api/search.js
  docs/components/api/section-heading.js
  docs/components/api/section-wrapper.js
  docs/components/api/sidebar.js
  docs/components/api/title.js
  docs/components/page-shell.js
  docs/components/plugins-page.js
  docs/components/site.css
  docs/components/style-spec/property.js
  docs/components/style-spec/sidebar.js
  docs/pages/api/events.js
  docs/pages/api/geography.js
  docs/pages/api/handlers.js
  docs/pages/api/index.md
  docs/pages/api/map.js
  docs/pages/api/markers.js
  docs/pages/api/properties.js
  docs/pages/api/sources.js
  docs/pages/example/index.md
  docs/pages/plugins/index.md
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
  package.json
  vendor/docs-page-shell/page-shell-script.js
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
  yarn.lock
Due: eslint, prettier --write

Add terrain type case statement (#452)
  docs/components/style-spec/item.js
Due: eslint, prettier --write

Update "Add a raster til source" example thumbnail (#455)
  docs/img/src/map-tiles.png
Due: none

Added maplibre-gl-js submodule
  .gitmodules
Due: none

Fixing typos and lint issues
  docs/components/page-shell.js
  docs/data/api-navigation.js
  docs/util/__tests__/api-ref-redirect.test.js
  test/style-spec-redirect.test.js
Due: eslint, prettier --write

Configure batfish to https://maplibre.github.io/maplibre-gl-js-docs
  batfish.config.js
Due: eslint, prettier --write

Configure jekyll to exclude .md files to avoid gh-pages file check errors
  _config.yml
Due: none

Add deploy script to package.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

Update logo in top left corner of the page
  vendor/docs-page-shell/page-shell-styles.css
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
