Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Re-activate GL JS update workflow (#118)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
Due: none

Run tsc in GL JS to build style spec
  .github/workflows/update-gl-js.yml
Due: none

Run tsc in GL JS to build style spec (#120)
  .github/workflows/update-gl-js.yml
Due: none

Run GL JS `build-tsc` in npm script
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  package.json
Due: prettier --write

Run GL JS `build-tsc` in npm script (#123)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  package.json
Due: prettier --write

Deploying to gh-pages from @ maplibre/maplibre-gl-js-docs@896ac0360dfc38d0c0018ef85cf08531e4429814 🚀
  sitemap.xml
Due: none

Use `text-overlap` and `icon-overlap`
  docs/pages/example/add-image-stretchable.html
  docs/pages/example/animate-point-along-route.html
  docs/pages/example/filter-markers-by-input.html
  docs/pages/example/filter-markers.html
  docs/pages/example/popup-on-click.html
  docs/pages/example/popup-on-hover.html
Due: prettier --write

Fix typos
  docs/data/api-navigation.js
Due: eslint, prettier --write

Use `text-overlap` and `icon-overlap` (#124)
  docs/pages/example/add-image-stretchable.html
  docs/pages/example/animate-point-along-route.html
  docs/pages/example/filter-markers-by-input.html
  docs/pages/example/filter-markers.html
  docs/pages/example/popup-on-click.html
  docs/pages/example/popup-on-hover.html
Due: prettier --write

Fix typos (#125)
  docs/data/api-navigation.js
Due: eslint, prettier --write

Enable dependabot
  .github/dependabot.yml
Due: none

Deploying to gh-pages from @ maplibre/maplibre-gl-js-docs@df91d6ca9e9f4a03c2c13dcfb583b619c11fe021 🚀
  sitemap.xml
Due: none

Enable dependabot (#128)
  .github/dependabot.yml
Due: none

Fix breaking change named export
  docs/components/example.js
Due: eslint, prettier --write

Update @mapbox/appropriate-images
  package-lock.json
  package.json
Due: prettier --write

Update downshift
  package-lock.json
  package.json
Due: prettier --write

Update remark
  .github/dependabot.yml
  docs/util/build-api-search.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Update downshift (#135)
  package-lock.json
  package.json
Due: prettier --write

Update @mapbox/appropriate-images (#134)
  package-lock.json
  package.json
Due: prettier --write

Fix style spec `.js` generation after GL JS build restructuring
  README.md
  package-lock.json
  package.json
Due: prettier --write

Fix path and build before lint
  package.json
Due: prettier --write

Update plugins.json
  docs/data/plugins.json
Due: prettier --write

Update build process
  package-lock.json
  package.json
Due: prettier --write

Use npx
  package.json
Due: prettier --write

Fix broken link to echarts (#139)
  docs/data/plugins.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
