Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

Add 3d terrain example
  docs/img/src/3d-terrain.png
  docs/pages/example/3d-terrain.html
  docs/pages/example/3d-terrain.md
Due: prettier --write

better wording
  docs/pages/example/3d-terrain.md
Due: none

Add 3d terrain example (#258)
  docs/img/src/3d-terrain.png
  docs/pages/example/3d-terrain.html
  docs/pages/example/3d-terrain.md
Due: prettier --write

install typescript jest
  babel.config.json
  package-lock.json
  package.json
Due: prettier --write

add section types to returns.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/returns.tsx
Due: none

disable commit lint check
  package.json
Due: prettier --write

add types to section, parameters.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/parameters.tsx
Due: none

lint
  docs/util/api-filter-items.ts
  docs/util/build-api-search.ts
  docs/util/combine-items.ts
  docs/util/linker.ts
  docs/util/list-tabs.ts
  docs/util/search-members.ts
  docs/util/style-spec-redirect.ts
  jest.config.ts
  package.json
Due: prettier --write

point to dist from batfish
  .gitignore
  batfish.config.js
  docs/bin/package.json
  docs/util/__tests__/package.json
  tsconfig.json
Due: eslint, prettier --write

add section types to throws
  docs/components/api/item-contents.tsx
  docs/components/api/throws.tsx
Due: none

lint
  .eslintrc
  .travis.yml
  conf/eslint-config-base.json
  conf/eslint-config-browser.json
  docs/.eslintrc
  docs/bin/.eslintrc
  docs/data/__tests__/.eslintrc
  docs/pages/example/animate-point-along-route.html
  docs/util/__tests__/formatters.test.ts
  package-lock.json
  package.json
  test/.eslintrc
  test/style-spec-redirect.test.ts
Due: prettier --write

add section types to section-heading
  docs/components/api/api-page-items.tsx
  docs/components/api/item-member.tsx
  docs/components/api/item.tsx
  docs/components/api/section-heading.tsx
  package.json
Due: prettier --write

Add types to section, examples.tsx
  docs/components/api/examples.tsx
  docs/components/api/item-contents.tsx
Due: none

Add types to section class-name
  docs/components/api/class-name.tsx
  docs/components/api/item-contents.tsx
Due: none

Add section types, properties.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/properties.tsx
Due: none

Add section types to augments.ts
  docs/components/api/augments.tsx
  docs/components/api/item-contents.tsx
Due: none

convert batfish config to ts
  batfish.config.ts
Due: none

add section types to related.tsx
  docs/components/api/item-contents.tsx
  docs/components/api/related.tsx
Due: none

transition batfish config to ts
  batfish.config.ts
  tsconfig.json
Due: prettier --write

add section types to github.tsx
  docs/components/api/api-page-items.tsx
  docs/components/api/github.tsx
Due: none

build images to batfish-input
  .gitignore
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.ts
  docs/components/appropriate-image.tsx
  package.json
Due: prettier --write

remove babel
  babel.config.json
  docs/components/md.tsx
  package-lock.json
  package.json
Due: prettier --write

use batfish-import folder
  .gitignore
  package.json
  tsconfig.json
Due: prettier --write

generate batfish-input
  docs/bin/appropriate-images.ts
  docs/bin/build-image-config.ts
  package.json
Due: prettier --write

ignore entire batfish-input
  .gitignore
Due: none

remove conf dir
  conf/ignore-links.json
Due: prettier --write

add method to copy md files over
  batfish.config.ts
  package.json
Due: prettier --write

compile into batfish-input
  package.json
Due: prettier --write

install types/node
  package-lock.json
  package.json
Due: prettier --write

restore submodule
  .gitmodules
Due: none

add install of submodule
  package.json
Due: prettier --write

remove submodule
  .gitmodules
  docs/bin/build-image-config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Bump maplibre-gl from 2.3.0 to 2.4.0
  package-lock.json
  package.json
Due: prettier --write

Bump maplibre-gl from 2.3.0 to 2.4.0 (#259)
  package-lock.json
  package.json
Due: prettier --write

Fix broken github links
  docs/components/api/github.js
Due: eslint, prettier --write

Fix broken github links (#269)
  docs/components/api/github.js
Due: eslint, prettier --write
