Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

install libxi-dev
  .github/workflows/build-test.yml
Due: none

use macos-12-arm runner
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
Due: none

remove pat-get
  .github/workflows/build-test.yml
Due: none

Updating node to v18
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

Updating Github CI to Node 18
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  README.md
Due: none

Cleaning up package.json
  package-lock.json
  package.json
Due: prettier --write

Updating node to v18 (#418)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

Update the dependencies table to document latest version(s)
  docs/pages/api/index.md
Due: none

Update link on how to update the Style Spec for Docs (Note: this is in comments of the Markdown)
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/transition.md
Due: none

Update dependencies docs (#419)
  docs/pages/api/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/transition.md
Due: none

Added any routing plugin
  docs/data/plugins.json
Due: prettier --write

rollback eol
  docs/data/plugins.json
Due: prettier --write

fix specs
  docs/data/plugins.json
Due: prettier --write

Fix error on start caused by not finding style spec
  docs/components/page-shell.js
Due: eslint, prettier --write

Removing console log
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Fixing missing icons in 3 examples and improving color-switcher to change extrusion color
  docs/img/src/camera-animation.png
  docs/img/src/color-switcher.png
  docs/img/src/fallback-image.png
  docs/img/src/variable-label-placement.png
  docs/pages/example/camera-animation.html
  docs/pages/example/color-switcher.html
  docs/pages/example/fallback-image.html
  docs/pages/example/variable-label-placement.html
Due: prettier --write

Fixing missing icons in 3 examples and improving color-switcher to change extrusion color (#428)
  docs/img/src/camera-animation.png
  docs/img/src/color-switcher.png
  docs/img/src/fallback-image.png
  docs/img/src/variable-label-placement.png
  docs/pages/example/camera-animation.html
  docs/pages/example/color-switcher.html
  docs/pages/example/fallback-image.html
  docs/pages/example/variable-label-placement.html
Due: prettier --write

Fix "Can't resolve '@maplibre/maplibre-gl-style-spec/package.json'" (#427)
  docs/components/expression-metadata.js
  docs/components/page-shell.js
Due: eslint, prettier --write

Add @any-routing to plugins section (#426)
  docs/data/plugins.json
Due: prettier --write

Added maplibre-layers-event-propagator plugin
  docs/data/plugins.json
Due: prettier --write

comment in HTML example
  docs/pages/example/3d-terrain.html
Due: prettier --write

comment in HTML example (#440)
  docs/pages/example/3d-terrain.html
Due: prettier --write

remove expression-metadata
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Update links to MapLibre Style
  docs/pages/api/index.md
  docs/pages/example/3d-buildings.md
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.md
  docs/pages/example/add-image.md
  docs/pages/example/animate-images.md
  docs/pages/example/center-on-symbol.md
  docs/pages/example/change-building-color-based-on-zoom-level.md
  docs/pages/example/change-case-of-labels.md
  docs/pages/example/cluster.html
  docs/pages/example/data-driven-lines.html
  docs/pages/example/data-driven-lines.md
  docs/pages/example/display-and-style-rich-text-labels.md
  docs/pages/example/fallback-image.md
  docs/pages/example/fill-pattern.md
  docs/pages/example/filter-markers-by-input.md
  docs/pages/example/filter-markers.md
  docs/pages/example/geojson-line.md
  docs/pages/example/geojson-polygon.md
  docs/pages/example/heatmap-layer.md
  docs/pages/example/line-across-180th-meridian.md
  docs/pages/example/line-gradient.md
  docs/pages/example/live-geojson.md
  docs/pages/example/variable-label-placement.md
  docs/pages/example/vector-source.md
  docs/pages/example/visualize-population-density.md
  docs/pages/example/wms.html
  docs/pages/example/wms.md
Due: prettier --write

update remaining links
  docs/data/plugins.json
  docs/documentation.yml
Due: prettier --write

fix transform
  package.json
Due: prettier --write

Recreate style spec button
  docs/pages/style-spec/index.md
Due: none

Add proper link to docs
  batfish.config.js
  docs/pages/style-spec/index.md
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
