Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

change to style specification as it was
  batfish.config.js
Due: eslint, prettier --write

Add proper link to docs (#455)
  batfish.config.js
  docs/pages/style-spec/index.md
Due: eslint, prettier --write

Adjust links to maplibre-style-spec docs
  batfish.config.js
  docs/data/plugins.json
  docs/documentation.yml
  docs/pages/api/index.md
  docs/pages/example/3d-buildings.md
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.md
  docs/pages/example/add-image.md
  docs/pages/example/animate-images.md
  docs/pages/example/center-on-symbol.md
  docs/pages/example/change-building-color-based-on-zoom-level.md
  docs/pages/example/change-case-of-labels.md
  docs/pages/example/cluster.html
  docs/pages/example/data-driven-lines.html
  docs/pages/example/data-driven-lines.md
  docs/pages/example/display-and-style-rich-text-labels.md
  docs/pages/example/fallback-image.md
  docs/pages/example/fill-pattern.md
  docs/pages/example/filter-markers-by-input.md
  docs/pages/example/filter-markers.md
  docs/pages/example/geojson-line.md
  docs/pages/example/geojson-polygon.md
  docs/pages/example/heatmap-layer.md
  docs/pages/example/line-across-180th-meridian.md
  docs/pages/example/line-gradient.md
  docs/pages/example/live-geojson.md
  docs/pages/example/variable-label-placement.md
  docs/pages/example/vector-source.md
  docs/pages/example/visualize-population-density.md
  docs/pages/example/wms.html
  docs/pages/example/wms.md
Due: eslint, prettier --write

Point links to maplibre-style-spec docs (#456)
  batfish.config.js
  docs/data/plugins.json
  docs/documentation.yml
  docs/pages/api/index.md
  docs/pages/example/3d-buildings.md
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/3d-extrusion-floorplan.md
  docs/pages/example/add-image.md
  docs/pages/example/animate-images.md
  docs/pages/example/center-on-symbol.md
  docs/pages/example/change-building-color-based-on-zoom-level.md
  docs/pages/example/change-case-of-labels.md
  docs/pages/example/cluster.html
  docs/pages/example/data-driven-lines.html
  docs/pages/example/data-driven-lines.md
  docs/pages/example/display-and-style-rich-text-labels.md
  docs/pages/example/fallback-image.md
  docs/pages/example/fill-pattern.md
  docs/pages/example/filter-markers-by-input.md
  docs/pages/example/filter-markers.md
  docs/pages/example/geojson-line.md
  docs/pages/example/geojson-polygon.md
  docs/pages/example/heatmap-layer.md
  docs/pages/example/line-across-180th-meridian.md
  docs/pages/example/line-gradient.md
  docs/pages/example/live-geojson.md
  docs/pages/example/variable-label-placement.md
  docs/pages/example/vector-source.md
  docs/pages/example/visualize-population-density.md
  docs/pages/example/wms.html
  docs/pages/example/wms.md
Due: eslint, prettier --write

update documentation js
  package-lock.json
  package.json
Due: prettier --write

work up to and including pre.5
  docs/documentation.yml
  package-lock.json
  package.json
Due: prettier --write

remove style spec passthrough
  package.json
  remove-style-spec-passthrough.js
Due: eslint, prettier --write

Update tests
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/util/__tests__/api-ref-redirect.test.js
Due: eslint, prettier --write

Bump docs to 3.0.0
  package-lock.json
  package.json
Due: prettier --write

Move docs to 3.0.0 (#458)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
  docs/util/__tests__/api-ref-redirect.test.js
  package-lock.json
  package.json
  remove-style-spec-passthrough.js
Due: eslint, prettier --write

Fix custom style layer example
  docs/pages/example/custom-style-layer.html
Due: prettier --write

Update description
  docs/pages/api/index.md
Due: none

Update description (#462)
  docs/pages/api/index.md
Due: none

Fix custom style layer example (#461)
  docs/pages/example/custom-style-layer.html
Due: prettier --write

Update to maplibre 3.0.1
  package-lock.json
  package.json
Due: prettier --write

Remove supported form menu
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
Due: none

Update to maplibre 3.0.1 (#464)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  package-lock.json
  package.json
Due: prettier --write

Fix examples not displaying (#394)
  docs/components/example.js
Due: eslint, prettier --write

Add contour lines example
  docs/img/src/contour-lines.png
  docs/pages/example/.eslintrc
  docs/pages/example/contour-lines.html
  docs/pages/example/contour-lines.md
Due: prettier --write

more comments
  docs/pages/example/contour-lines.html
Due: prettier --write

Add contour lines example (#465)
  docs/img/src/contour-lines.png
  docs/pages/example/.eslintrc
  docs/pages/example/contour-lines.html
  docs/pages/example/contour-lines.md
Due: prettier --write

Add maplibre-contour to plugins
  docs/data/plugins.json
  docs/pages/example/contour-lines.md
Due: prettier --write

Add maplibre-contour to plugins (#466)
  docs/data/plugins.json
  docs/pages/example/contour-lines.md
Due: prettier --write

Add mapbox-gl-flatgeobuf plugin (#158)
  docs/data/plugins.json
Due: prettier --write

Add terrain control to docs
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
Due: none

Add terrain control to docs (#469)
  docs/data/__tests__/__snapshots__/api-navigation.test.js.snap
  docs/documentation.yml
Due: none

Bump to v3.1.0
  docs/documentation.yml
  package-lock.json
  package.json
Due: prettier --write

Bump to v3.1.0 (#470)
  docs/documentation.yml
  package-lock.json
  package.json
Due: prettier --write
