Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Add repository dispatch trigger
  .github/workflows/update-gl-js.yml
Due: none

Get version only once
  .github/workflows/update-gl-js.yml
Due: none

Write version directly
  .github/workflows/update-gl-js.yml
Due: none

Styling
  .github/workflows/update-gl-js.yml
Due: none

Fix indent
  .github/workflows/update-gl-js.yml
Due: none

Add workflow to automatically generate pull requests for the latest MapLibre GL JS version (#64)
  .github/workflows/update-gl-js.yml
Due: none

Test before making a pull request
  .github/workflows/update-gl-js.yml
Due: none

Test before making a pull request (#66)
  .github/workflows/update-gl-js.yml
Due: none

Update language-switch.html
  docs/pages/example/language-switch.html
Due: prettier --write

Update language-switch.html (#68)
  docs/pages/example/language-switch.html
Due: prettier --write

Link to map libre style spec consistently
  docs/data/plugins.json
  docs/documentation.yml
Due: prettier --write

Link to map libre style spec consistently (#69)
  docs/data/plugins.json
  docs/documentation.yml
Due: prettier --write

Add example for local GeoJSON file
  docs/img/src/local-geojson.png
  docs/pages/example/local-geojson.html
  docs/pages/example/local-geojson.md
Due: prettier --write

Avoid cross repo pitfalls
  README.md
Due: none

Declare fileHandle
  docs/pages/example/local-geojson.html
Due: prettier --write

Fix lint command to find the right config file
  package.json
Due: prettier --write

Different parser/less rules for ES2017 example
  .eslintrc
Due: none

Remove invalid topic
  docs/pages/example/local-geojson.md
Due: none

More descriptive, passing style guide
  docs/pages/example/local-geojson.md
Due: none

Remove arrow function
  docs/pages/example/local-geojson.html
Due: prettier --write

Mark example as experimental
  docs/pages/example/local-geojson.md
Due: none

Missing bracket
  docs/pages/example/local-geojson.md
Due: none

Add some information for windows users
  README.md
Due: none

Replace Mapbox by MapLibre in CoC
  CODE-OF-CONDUCT.md
Due: none

Unminify
  vendor/docs-page-shell/page-shell-script.js
Due: eslint, prettier --write

Remove raven + sentry
  docs/components/api/search.js
  docs/components/example.js
  package.json
  vendor/docs-page-shell/page-shell-script.js
Due: eslint, prettier --write

Add Esri-based plugins
  docs/data/plugins.json
Due: prettier --write

Remove more code + fix css
  docs/components/example.js
  vendor/docs-page-shell/page-shell-script.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Reference browser compatibility
  docs/pages/example/local-geojson.md
Due: none

Remove more code
  docs/components/feedback.js
  vendor/docs-page-shell/page-shell-script.js
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update plugins.json
  docs/data/plugins.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
