Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

Remove INSTALL button on api page
  docs/pages/api/index.md
Due: none

Update html head
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Update logo (#41)
  docs/pages/api/index.md
  vendor/docs-page-shell/page-shell-styles.css
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

Migrate style spec links in markdown files
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
Due: none

Migrate links in style-spec/expressions to the maplibre examples
  docs/data/expressions-related.json
Due: prettier --write

Migrate links in style-spec/expressions to the maplibre examples (#43)
  docs/data/expressions-related.json
Due: prettier --write

Add maplibre-gl-js-docs to dictionary
  local.dic
Due: none

Migrate style spec links in markdown files (#42)
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  local.dic
Due: none

Clean-up deployment information
  README.md
  package.json
Due: prettier --write

Add workflow note
  README.md
Due: none

Clean-up deployment information (#44)
  README.md
  package.json
Due: prettier --write

Add documentation on UNPKG for use in the API Docs. Related to https://github.com/maplibre/maplibre-gl-js/pull/143
  docs/pages/api/index.md
Due: none

Fix typo
  docs/pages/api/index.md
Due: none

Add documentation on UNPKG for use in the API Docs. (#46)
  docs/pages/api/index.md
Due: none

Update package
  package-lock.json
  package.json
Due: prettier --write

Replace @mapbox/mapbox with @maplibre/maplibre
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
Due: eslint, prettier --write

Add sponsorship button repository
  .github/FUNDING.yml
Due: none

Replace remaining occurrences
  batfish.config.js
  docs/components/__tests__/expression-metadata.test.js
  docs/components/page-shell.js
Due: eslint, prettier --write

Use @maplibre/maplibre-gl-style-spec (#47)
  batfish.config.js
  docs/components/__tests__/expression-metadata.test.js
  docs/components/expression-metadata.js
  docs/components/expressions.js
  docs/components/page-shell.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/util/combine-items.js
  package-lock.json
  package.json
Due: eslint, prettier --write

changed source from composite to openmaptiles
  docs/pages/example/3d-buildings.html
Due: prettier --write

changed source from composite to openmaptiles (#48)
  docs/pages/example/3d-buildings.html
Due: prettier --write

Update SDK support table
  docs/components/sdk_support_table.js
Due: eslint, prettier --write

Update index.md
  docs/pages/style-spec/index.md
Due: none

Update root.md
  docs/pages/style-spec/root.md
Due: none

Update light.md
  docs/pages/style-spec/light.md
Due: none

Update sources.md
  docs/pages/style-spec/sources.md
Due: none

Update sprite.md
  docs/pages/style-spec/sprite.md
Due: none

Update transition.md
  docs/pages/style-spec/transition.md
Due: none

Update layers.md
  docs/pages/style-spec/layers.md
Due: none

Update types.md
  docs/pages/style-spec/types.md
Due: none

Update expressions.md
  docs/pages/style-spec/expressions.md
Due: none

Update other.md
  docs/pages/style-spec/other.md
Due: none
