Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

Fix/remove links
  docs/pages/api/index.md
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/check-for-support.md
  docs/pages/example/set-perspective.html
Due: prettier --write

Change base path
  .prettierignore
  .publisher.yml
Due: none

Fix links
  docs/documentation.yml
Due: none

Remove geocoder images
  docs/img/src/mapbox-gl-geocoder-accept-coordinates.png
  docs/img/src/mapbox-gl-geocoder-custom-render.png
  docs/img/src/mapbox-gl-geocoder-limit-region.png
  docs/img/src/mapbox-gl-geocoder-no-map.png
  docs/img/src/mapbox-gl-geocoder-outside-the-map.png
  docs/img/src/mapbox-gl-geocoder-with-flyto.png
  docs/img/src/mapbox-gl-geocoder-with-language.png
  docs/img/src/mapbox-gl-geocoder.png
Due: none

Remove directions image
  docs/img/src/mapbox-gl-directions.png
Due: none

Fix CDN + branding
  docs/pages/api/index.md
Due: none

Add non-experimental local geojson example (#76)
  docs/pages/example/local-geojson.html
  docs/pages/example/local-geojson.md
Due: prettier --write

Use Japanese translation
  .gitmodules
Due: none

npx browserslist@latest --update-db
  package-lock.json
Due: prettier --write

wip
  docs/img/src/custom-map.png
  docs/pages/example/custom-map.md
Due: none

update branch to main
  README.md
  package-lock.json
Due: prettier --write

translate api home
  .editorconfig
  docs/pages/api/index.md
  vendor/docs-page-shell/react-page-shell.js
Due: eslint, prettier --write

add temporal-control
  docs/data/plugins.json
Due: prettier --write

add demo
  docs/data/plugins.json
Due: prettier --write

add period
  docs/data/plugins.json
Due: prettier --write

Add new plugin [maplibre-gl-temporal-control] (#83)
  docs/data/plugins.json
Due: prettier --write

Upgrade documentation to v13.2.5
  docs/components/api/related.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Upgrade documentation to v13.2.5 (#86)
  docs/components/api/related.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Update submodule, documentationjs, add `--document-exported`
  package-lock.json
  package.json
Due: prettier --write

Point documentationjs to `index.ts` with flag `--document-exported`
  package.json
Due: prettier --write

Include `.ts` and `.d.ts` files
  package.json
Due: prettier --write

Remove mapbox reference
  README.md
Due: none

added some maplibre and mapbox plugins into docs
  docs/data/plugins.json
Due: prettier --write

added some maplibre and mapbox plugins into docs (#92)
  docs/data/plugins.json
Due: prettier --write

Use Nominatim with maplibre-gl-geocoder plugin
  docs/pages/example/geocoder.html
  docs/pages/example/geocoder.md
Due: prettier --write

No token needed
  docs/pages/example/3d-extrusion-floorplan.html
Due: prettier --write

Use token-free osm raster tiles (#95)
  docs/pages/example/3d-extrusion-floorplan.html
Due: prettier --write

Fix errors, add image, re-word description
  docs/img/src/geocoder.png
  docs/pages/example/.eslintrc
  docs/pages/example/geocoder.html
  docs/pages/example/geocoder.md
  local.dic
Due: prettier --write

Add geocoder example (#96)
  docs/img/src/geocoder.png
  docs/pages/example/.eslintrc
  docs/pages/example/geocoder.html
  docs/pages/example/geocoder.md
  local.dic
Due: prettier --write

Add maplibre-gl-basemaps plugin
  docs/data/plugins.json
Due: prettier --write

Add maplibre-gl-basemaps plugin (#100)
  docs/data/plugins.json
Due: prettier --write

Path conditions:
  eslint: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.css)) or (any of: *.json)) or (any of: *.html)
