Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

Markdownify the Style Spec documentation (#91)
  batfish.config.js
  docs/components/example.js
  docs/components/markdown-page-shell.js
  docs/components/page_shell.js
  docs/components/prism_highlight.js
  docs/components/sdk_support_table.js
  docs/components/site.css
  docs/components/style-spec/expression-reference.js
  docs/components/style-spec/item.js
  docs/components/style-spec/items.js
  docs/components/style-spec/property.js
  docs/components/style-spec/render-params.js
  docs/components/style-spec/render-signature.js
  docs/components/style-spec/subtitle.js
  docs/data/style-spec-navigation.js
  docs/data/types.js
  docs/pages/api.js
  docs/pages/plugins.js
  docs/pages/style-spec.js
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/index.md
  docs/pages/style-spec/layers.md
  docs/pages/style-spec/light.md
  docs/pages/style-spec/other.md
  docs/pages/style-spec/root.md
  docs/pages/style-spec/sources.md
  docs/pages/style-spec/sprite.md
  docs/pages/style-spec/transition.md
  docs/pages/style-spec/types.md
  docs/util/style-spec-redirect.js
  local.dic
  package.json
  test/style-spec-redirect.test.js
  yarn.lock
Due: eslint, prettier --write

Add in expression to metadata (#202)
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Update dr-ui@0.25.5 (#201)
  package.json
  yarn.lock
Due: prettier --write

Sort Style Spec sidebar alphabetically; add paint/layout icons to sidebar (#207)
  docs/components/style-spec/items.js
  docs/components/style-spec/property.js
  docs/data/style-spec-navigation.js
  docs/pages/style-spec/layers.md
  docs/util/combine-items.js
Due: eslint, prettier --write

wrap SVG with div to make compatible with IE11 (#209)
  docs/pages/example/cluster-html.html
Due: prettier --write

remove source inlineing (#177)
  docs/pages/example/3d-extrusion-floorplan.html
  docs/pages/example/add-image-animated.html
  docs/pages/example/add-image-generated.html
  docs/pages/example/add-image-missing-generated.html
  docs/pages/example/add-image-stretchable.html
  docs/pages/example/add-image.html
  docs/pages/example/adjust-layer-opacity.html
  docs/pages/example/animate-a-line.html
  docs/pages/example/center-on-symbol.html
  docs/pages/example/change-case-of-labels.html
  docs/pages/example/data-driven-circle-colors.html
  docs/pages/example/data-driven-lines.html
  docs/pages/example/fallback-image.html
  docs/pages/example/filter-features-within-map-view.html
  docs/pages/example/geojson-layer-in-stack.html
  docs/pages/example/geojson-line.html
  docs/pages/example/geojson-markers.html
  docs/pages/example/geojson-polygon.html
  docs/pages/example/playback-locations.html
  docs/pages/example/polygon-popup-on-click.html
  docs/pages/example/popup-on-click.html
  docs/pages/example/popup-on-hover.html
  docs/pages/example/third-party.html
  docs/pages/example/vector-source.html
  docs/pages/example/visualize-population-density.html
  docs/pages/example/wms.html
  docs/pages/example/zoomto-linestring.html
Due: prettier --write

Update animate-a-line.html (#210)
  docs/pages/example/animate-a-line.html
Due: prettier --write

Update array type documentation (#212)
  docs/pages/style-spec/expressions.md
  docs/pages/style-spec/types.md
Due: none

fix paths for two links (#219)
  docs/pages/style-spec/glyphs.md
  docs/pages/style-spec/sprite.md
Due: none

Improve how *-transition properties are documented (#218)
  docs/pages/style-spec/transition.md
Due: none

Update turf library and measure example. (#173)
  docs/pages/example/measure.html
  docs/pages/example/measure.js
Due: eslint, prettier --write

Upgrade to Node 10 (#214)
  .artifacts.yml
  .nvmrc
  README.md
Due: none

Fix sizing and spacing of input in filter markers by input example (#185)
  docs/pages/example/filter-markers-by-input.html
Due: prettier --write

Show full expression support in style properties (#171)
  docs/components/style-spec/item.js
Due: eslint, prettier --write

fix expression reference heading (#213)
  docs/components/site.css
  docs/pages/style-spec/expressions.md
Due: prettier --write

Add default zoom to strechable image example (#224)
  docs/pages/example/add-image-stretchable.html
Due: prettier --write

Update docs-page-shell (#235)
  vendor/docs-page-shell/page-shell-script.js
Due: eslint, prettier --write

enhance cluster.html example (#237)
  docs/pages/example/cluster.html
Due: prettier --write

Catch no results found for "Filter features within map view" example (#242)
  docs/pages/example/filter-features-within-map-view.html
Due: prettier --write

make the geocoder graphically outside the map in the geocoder outside the map element example (#234)
  docs/pages/example/mapbox-gl-geocoder-outside-the-map.html
Due: prettier --write

add type cases for layout and paint (#240)
  docs/components/style-spec/item.js
Due: eslint, prettier --write

Fix Style Spec redirects for hashes that begin with `#paint` and `#layout` (#241)
  docs/util/style-spec-redirect.js
  test/style-spec-redirect.test.js
Due: eslint, prettier --write

Update dr-ui@0.27.0 (#245)
  .remarkrc
  docs/components/api-item.js
  docs/components/api-navigation.js
  docs/components/example.js
  docs/components/markdown-page-shell.js
  docs/components/page_shell.js
  docs/data/style-spec-navigation.js
  package.json
  vendor/docs-page-shell/page-shell-script.js
  yarn.lock
Due: eslint, prettier --write

Add canvas source example (#230)
  docs/img/src/canvas-source.png
  docs/pages/example/canvas-source.html
  docs/pages/example/canvas-source.js
Due: eslint, prettier --write

bump gl-compare to latest version (#251)
  docs/pages/example/mapbox-gl-compare.html
Due: prettier --write

Pass container to mapboxgl.Compare plugin in Swipe between maps example (#254)
  docs/pages/example/mapbox-gl-compare.html
Due: prettier --write

Install submodule dependencies during `build-docs` (#258)
  batfish.config.js
  package.json
Due: eslint, prettier --write

Add within expression metadata (#262)
  docs/components/expression-metadata.js
Due: eslint, prettier --write

Add an example for padding (#248)
  docs/img/src/offset-vanishing-point-with-padding.png
  docs/pages/example/.eslintrc
  docs/pages/example/offset-vanishing-point-with-padding.html
  docs/pages/example/offset-vanishing-point-with-padding.js
Due: eslint, prettier --write

Initialize Sentry in example iframe (#274)
  docs/components/example_code.js
Due: eslint, prettier --write

mapbox-gl-geocoder@v4.5.0 (#115)
  docs/components/site.css
  docs/components/style-spec/render-params.js
  docs/components/style-spec/render-signature.js
  docs/data/types.js
  docs/img/src/mapbox-gl-geocoder-no-map.png
  docs/pages/example/cluster.html
  docs/pages/example/data-driven-circle-colors.html
  docs/pages/example/forward-geocode-custom-data.html
  docs/pages/example/mapbox-gl-geocoder-accept-coordinates.html
  docs/pages/example/mapbox-gl-geocoder-custom-render.html
  docs/pages/example/mapbox-gl-geocoder-limit-region.html
  docs/pages/example/mapbox-gl-geocoder-no-map.html
  docs/pages/example/mapbox-gl-geocoder-no-map.js
  docs/pages/example/mapbox-gl-geocoder-with-flyto.html
  docs/pages/example/mapbox-gl-geocoder-with-language.html
  docs/pages/example/mapbox-gl-geocoder.html
  docs/pages/example/point-from-geocoder-result.html
Due: eslint, prettier --write

upgrade husky dependency (#233)
  package.json
  yarn.lock
Due: prettier --write

Change image file path in add-image example (#161)
  docs/pages/example/add-image.html
Due: prettier --write

Add inline comments to toggle-layers example (#156)
  docs/pages/example/toggle-layers.html
Due: prettier --write
