Repository maplibre/maplibre-gl-js-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write", "git add"],
  "*.css": ["prettier --write", "git add"],
  "*.json": ["prettier --write", "git add"],
  "*.html": ["prettier --write", "git add"]
}

update url for map-gl-utils
  docs/data/plugins.json
Due: prettier --write

update url for map-gl-utils (#206)
  docs/data/plugins.json
Due: prettier --write

Update package-lock.json and pin node version
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  .nvmrc
  package-lock.json
Due: prettier --write

Switch to unpkg for mapbox-gl-rtl-text
  docs/pages/example/mapbox-gl-rtl-text.html
Due: prettier --write

Fix url
  docs/pages/example/mapbox-gl-rtl-text.html
Due: prettier --write

Switch to unpkg for mapbox-gl-rtl-text (#209)
  docs/pages/example/mapbox-gl-rtl-text.html
Due: prettier --write

Update install instructions
  README.md
Due: none

Update install instructions (#210)
  README.md
Due: none

Remove remark-lint-mapbox and copyeditor dependencies
  .remarkrc.js
  batfish.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Update package-lock.json and pin node version (#207)
  .github/workflows/build-test-deploy.yml
  .github/workflows/build-test.yml
  .github/workflows/update-gl-js.yml
  .nvmrc
  package-lock.json
Due: prettier --write

Remove remark-lint-mapbox and copyeditor dependencies (#211)
  .remarkrc.js
  batfish.config.js
  package-lock.json
  package.json
Due: eslint, prettier --write

Deploying to gh-pages from @ maplibre/maplibre-gl-js-docs@17aff631895676e257f5d74b100ee491e8c3c452 🚀
  sitemap.xml
Due: none

Deploying to gh-pages from @ maplibre/maplibre-gl-js-docs@2c14f212b7f97bf6483637c59cd6ad95f438ec0d 🚀
  sitemap.xml
Due: none

include StylePatchFunction related types into properties and options section
  docs/documentation.yml
Due: none

Update submodule
  package-lock.json
  package.json
Due: prettier --write

revert dependabot updates
  package-lock.json
  package.json
Due: prettier --write

add import assertion babel plugin
  babel.config.json
  package-lock.json
  package.json
Due: prettier --write

update documentation library
  package-lock.json
  package.json
Due: prettier --write

Update dependabot settings
  .github/dependabot.yml
Due: none

Update documentation and maplibre-gl-js version
  package-lock.json
  package.json
Due: prettier --write

Disable latest-version check to fix CI
  test/latest-version.test.js
Due: eslint, prettier --write

Disable latest-version check to fix CI (#232)
  test/latest-version.test.js
Due: eslint, prettier --write

Remove latest version test
  test/latest-version.test.js
Due: eslint, prettier --write

Remove latest version test (#234)
  test/latest-version.test.js
Due: eslint, prettier --write
